.photo {
  display: inline-block;
  margin-right: 20px;

  img {
    height: 150px;
    width: 150px;
  }
  a {
    cursor: pointer;
    color: #555;
    &:hover {
      text-decoration: none;
    }
  }
}
