nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Palbm
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(href='/'): i.fa.fa-home &nbsp; Home
        if !email
          li: a(href='/register'): i.fa.fa-male &nbsp; Register
          li: a(href='/login'): i.fa.fa-sign-in &nbsp; Login
        else
          li: a(href='/albums'): i.fa.fa-camera-retro &nbsp; Album
          li
            form(method='post', action='/logout')
              button.btn.btn-danger Logout
          li: a(href='#')= email || 'anonymous'
