extends ../../../layouts/master
block content
  .container
    .row
      .page-header
        h1 New Photo
      form.form-inline(method='post', action='/albums/#{album._id}/photo', enctype='multipart/form-data')
        label File
        input.form-control.form-group(type='file', name='photos', multiple=true)
        button.form-control.btn.btn-primary(type='submit') Add Album
    
    
