extends ../../layouts/master
block content
  .page-header
    h1= album.name
  form(method='post', action='/albums/#{album._id}/update')
    label Name
    input(type='text', name='name', value=album.name)
    label Date
    input(type='date', name='date', value=album.date)
    button(type='submit') Edit Album
  
